/.project/
/.settings/
/target/
/base-model/.classpath
/base-model/.project
/base-model/.settings/
/base-model/target/
/base-core/.classpath
/base-core/.project
/base-core/.settings/
/base-core/target/