/.project
/.settings/
/users-api/.classpath
/users-api/.project
/users-api/.settings/
/users-api/target/
/users-business/.classpath
/users-business/.project
/users-business/.settings/
/users-business/target/
/users-core/.classpath
/users-core/.project
/users-core/.settings/
/users-core/target/
/users-model/.classpath
/users-model/.project
/users-model/.settings/
/users-model/target/
